.order {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.completeOrder {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #A4E726;
}